* {
  margin: 0px;
  padding: 0px;
  font-family: "Arial", sans-serif;
}

body {
  background-image: url(https://source.unsplash.com/random);

  /* Possiveis backgrounds
  
  https://media.tenor.com/vtqm0yd1HeAAAAAd/yoyo.gif
  
  https://media.tenor.com/MkI8xJLf6iwAAAAC/background-aesthetic.gif

  https://media.tenor.com/OltTSC8AuNkAAAAd/offline-gaming.gif
  
  box-shadow: inset 20px 20px 60px #bebebe,
            inset -20px -20px 60px #ffffff;
  */

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Container maior */

.container {
  width: 100vh - 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: #ecf4ff;
  color: #1c1c1c;
  border-radius: 50px;
  background: #e0e0e0;

  box-shadow: inset 20px 20px 60px #bebebe,
            inset -20px -20px 60px #ffffff;

  box-shadow: 0px 0px 30px #bebebe;
}

/* area do perfil */

.perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px;
}

.perfil-foto {
  border-radius: 460px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo h1 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo h2 {
  font-weight: 4000;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* Container Sobre mim */

.sobre .sobre-mim {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a{
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  height: 35px;
  width: 35px;
  transition: 0.3s;
}

.sobre {
  color: black;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 32px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
  }

.sobre a {
  font-size: 20px;
  color: black;
}

.link:hover {
  transform: scale(1.2);
  transition: 0,8s;
}

.sobre li:hover {
  transform: scale(1.2);
  margin-left: 50px;
}

.sobre p, li {
  list-style: none;
  margin-left: 22px;
  margin-right: 22px;
  max-width: 280px;
  font-size: 15px;
}

/* Para dispositivos menores que 748px */

@media (max-width: 748px) {
  .container {
    width: 450px;
  }
}
